<?xml version="1.0" encoding="utf-8"?>
<launch>

  
  <arg name="web_socket" default="false"/>
  <arg name="slam" default="gmapping"/>
  <arg name="map_location" default="$(env HOME)/map.yaml"/>

  <arg name="mode" default="mapping"/>

  <group if="$(arg web_socket)">
    <include file="$(find django_ros)/launch/web_socket.launch"/>
  </group>

  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>


  <group if="$(eval mode == 'mapping')">
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="$(arg slam)" />
    </include>
  </group>
  
  
  <group if="$(eval mode == 'navigate')">
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
      <arg name="map_file" value="$(arg map_location)" />
    </include>
  </group>
  
</launch>