<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="port" default="8085"/>
  <arg name="start_port" default="$(arg port)"/>
  <arg name="webpath" default="/"/> 
  
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false" output="screen"/>
  <node name="run_robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
  <node name="webserver" pkg="django_ros" type="webserver.py" args="--webpath $(arg webpath)"/>
  <!--<include file="$(find roswww)/launch/roswww.launch"/>-->

</launch>